# Ignore Python virtual environment
server/venv/
server/.venv/
__pycache__/
*.pyc

# Ignore React dependencies
client/node_modules/
client/dist/

# Ignore local environment variables and database files
.env
server/*.db